requests==2.25.1
joblib==1.0.1
tqdm==4.61.1
click==7.1.2
opencv-python==4.5.5.62
vt2geojson==0.2.1
mapbox-vector-tile==1.2.1
mercantile==1.2.1
py360convert==0.1.0
Pillow==9.0.1
cubemap-splitter==0.1.1
smart-open==5.2.1
smart_open[s3]
geojson==2.5.0
shapely==1.8.1.post1
protobuf==3.20.*